body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(-45deg,
            #ffb703,
            #ffd166,
            #ffafcc,
            #bde0fe);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.rain {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: repeating-linear-gradient(transparent,
            transparent 5px,
            rgba(255, 255, 255, 0.3) 6px);
    animation: rain 0.4s linear infinite;
}

@keyframes rain {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100%;
    }
}

.snowflake {
    position: fixed;
    top: -10px;
    font-size: 16px;
    color: white;
    animation-name: fall;
    animation-timing-function: linear;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}